{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}


    <div class="container mt-5 border border-3 border-dark rounded">
        <h1 class="p-3">{{ data.title }}</h1>
        <div class="container">

            <img src="{{ data.img }}" style="height: 400px;">
            <p>{{ data.movie_name }}</p>
            <p>평점 :
                {{ data.grade }}
            </p>
            <p>
                {{ data.content }}
            </p>
            <p>
                작성일 :
                {{ user.date_joined }}
            </p>
            <a href="{% url 'reviews:update' data.pk %}" class='btn btn-dark text-white mb-3'>수정</a>
            <a href="{% url 'reviews:delete' data.pk %}" class='btn btn-dark text-white mb-3'>삭제</a
        </div>
    </div>
{% endblock %}