{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="text-center mt-5">
        <h1>MOVIE REVIEW</h1>
    </div>
  <div class="container justify-content-center">
    <table class="table m-3 border border-3">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">글 제목</th>
          <th scope="col">영화 제목</th>
          <th scope="col">영화 점수</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for review in reviews %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>
              <a href="{% url 'reviews:detail' review.pk%}" class="text-black fw-bold text-decoration-none">
                {{review.title}}
              </a>
            </td>
            <td>{{review.movie_name}}</td>
            <td>
              {% if review.grade == 5 %}
                ⭐⭐⭐⭐⭐
              {% elif review.grade == 4 %}
                ⭐⭐⭐⭐
              {% elif review.grade == 3 %}
                ⭐⭐⭐
              {% elif review.grade == 2 %}
                ⭐⭐
              {% elif review.grade == 1 %}
                ⭐
              {% endif %}
            </td>
          </tr>
          {% endfor%}
        </tbody>
      </table>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link text-black" href="#" aria-label="success">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link text-black" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link text-black" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link text-black" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link text-black" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

    {% endblock%}